* {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	width: 100%;
	height: -webkit-fill-available;
	justify-content: center;
	align-items: center;
}

#screen {
	width: 100vw;
	image-rendering: pixelated;
}